[submodule "libmowgli-2"]
	path = libmowgli-2
	url = git://github.com/atheme/libmowgli-2.git
[submodule "libunwind"]
	path = libunwind
	url = git://git.savannah.gnu.org/libunwind.git
[submodule "modules/contrib"]
	path = modules/contrib
	url = git://github.com/atheme/atheme-contrib-modules.git
