*~
*.a
*.bak
*.core
*.d
*.dep
*.dll
*.dll.*
*.dylib
*.exe
*.o
*.orig
*.pc
*.rej
*.so
*.so.*
*.swp
.deps
.depend
.depend-done
core
tags
/aclocal.m4
/buildsys.mk
/extra.mk
/autom4te.cache
/config.log
/config.status
