*~
*.dep
*.pc
*.bak
*.rej
*.orig
*.swp
*.core
core
*.o
*.so
*.so.*
*.dll
*.dll.*
*.exe
*.a
*.d
.depend
.depend-done
autom4te.cache
config.log
config.status
dist/atheme.conf.userserv-example
dist/atheme.conf.operserv-example
include/hooktypes.h
include/serno.h
include/sysconf.h
libmowgli/buildsys.mk
libmowgli/extra.mk
libmowgli/libmowgli.pc
libmowgli/mk/rules.mk
libmowgli/src/libmowgli/*.dep
libmowgli/src/examples/patriciatest/patriciatest
libmowgli/src/libmowgli/mowgli_config.h
modules/Makefile.common
modules/Makefile.defs
modules/scripting/perl/api/Atheme.c
modules/scripting/perl/api/perl_hooks.c
modules/scripting/perl/perlxsi.c
po/Makefile.in
po/POTFILES
po/*.gmo
po/*.mo
po/stamp-po
scripts/*.tbz2
scripts/*.tgz
scripts/*.tar.bz2
scripts/*.tar.gz
src/services/atheme-services
src/dbverify/dbverify
src/ecdsadecode/ecdsadecode
src/ecdsakeygen/ecdsakeygen
src/ecdsasign/ecdsasign
src/footprint/footprint
tools/createtestdb
tools/htmlhelp
buildsys.mk
extra.mk
tags
.deps
aclocal.m4
