/build-aux/                     linguist-generated
/configure                      linguist-generated
/include/atheme/sysconf.h.in    linguist-generated
/po/atheme.pot                  linguist-generated
/po/POTFILES.in                 linguist-generated

/ABOUT-NLS                      linguist-vendored
/m4/ax_subdirs_configure.m4     linguist-vendored
/m4/gettext.m4                  linguist-vendored
/m4/nls.m4                      linguist-vendored
/m4/po.m4                       linguist-vendored
/po/*.po                        linguist-vendored

*.c                             linguist-language=C
*.h                             linguist-language=C
