[submodule "libmowgli-2"]
	path = libmowgli-2
	url = https://github.com/atheme/libmowgli-2.git
[submodule "modules/contrib"]
	path = modules/contrib
	url = https://github.com/atheme/atheme-contrib-modules.git
