Alex Iadicicco <alex@ajitek.net> <alex@theta4.com>
Alex Lambert <alambert@quickfire.org> alambert <devnull@localhost>
Alyx Wolcott <alyx@malkier.net>
Alyx Wolcott <alyx@malkier.net> <alyx@sporksmoo.net>
Alyx Wolcott <alyx@malkier.net> Alexandria Wolcott <alyx@ubuntu.(none)>
Chris Fuenty <zimmy@zimmy.co.uk> <zimmaster@cia.com>
Chris Fuenty <zimmy@zimmy.co.uk> <zimmy@atheme.org>
Craig Edwards <craigedwards@brainbox.cc> brain <devnull@localhost>
Daniel Vassdal <shutter@canternet.org> Daniel Vassdal <daniel@daniel-VirtualBox.(none)>
Diane Bruce <db@db.net> db <devnull@localhost>
Douglas Freed <dwfreed@mtu.edu> dwfreed <dwfreed@mtu.edu>
Elfyn McBratney <elfyn.mcbratney@gmail.com> beu <devnull@localhost>
Elizabeth Myers <elizabeth@interlinked.me> <elizabeth@sporksirc.net>
Elizabeth Myers <elizabeth@interlinked.me> <elizabeth@sporksmoo.net>
Elly Fong-Jones <elly@leptoquark.net>
Greg Feigenson <kog@epiphanic.org> kog <devnull@localhost>
JD Horelick <jdhore1@gmail.com>
Janek Ostendorf <ozzy2345de@gmail.com>
Jeff Katz <jeff@katzonline.net> kuja <devnull@localhost>
Jilles Tjoelker <jilles@stack.nl> jilles <devnull@localhost>
Kiyoshi Aman <kiyoshi.aman@gmail.com> <aphrael@alpinelinux.org>
Luca Barbato <lu_zero@gentoo.org> lu_zero <devnull@localhost>
Michael Rodriguez <dkingston02@gmail.com> <dkingston@dkingston.net>
Michael Tharp <gxti@partiallystapled.com> <gxti@sidhe.atheme.org>
Michael Tharp <gxti@partiallystapled.com> gxti <devnull@localhost>
Nathan Phillip Brink <binki@gentoo.org> <ohnobinki@ohnopublishing.net>
Patrick Fish <pofish@gmail.com> pfish <devnull@localhost>
Pippijn van Steenhoven <pip88nl@gmail.com> Pippijn van Steenhoven <pip88nl@web.de>
Pippijn van Steenhoven <pip88nl@gmail.com> pip88nl@gmail.com <pip88nl@gmail.com>
Pippijn van Steenhoven <pip88nl@gmail.com> pippijn <devnull@localhost>
Quora Dodrill <quorawings@gmail.com> <quora@lavabit.com>
Robin Burchell <w00t@inspircd.org> w00t <devnull@localhost>
Robin Burchell <w00t@inspircd.org> w00t@localhost <w00t@localhost>
Robin Burchell <w00t@inspircd.org> w00t@localhost.localdomain <w00t@localhost.localdomain>
Stephen Bennett <spb@exherbo.org> <stephen@freenode.net>
Sam Dodrill <niichan@ponychat.net>
Theo Julienne <admin@ozweb.nu> terminal <devnull@localhost>
Valeriy Yatsko <dwr@shadowircd.net> <darkwire@ircd-charybdis.ru>
Valeriy Yatsko <dwr@shadowircd.net> <dwr@it-penza.org>
William Pitcock <nenolod@dereferenced.org>
William Pitcock <nenolod@dereferenced.org> <nenolod@atheme-project.org>
William Pitcock <nenolod@dereferenced.org> <nenolod@atheme.org>
William Pitcock <nenolod@dereferenced.org> nenolod <devnull@localhost>
